
<!-- loginform.component.html -->
<app-navbar></app-navbar>
<div class="wrapper" style="background-color: #838383">
    <div class="inner">
        <img src="/assets/img/nurse.png" alt="" class="image-1">
        <form (ngSubmit)="onSubmit()">
            <h3>Mot de passe oublié</h3>
            <div class="form-holder">
                <span class="lnr lnr-envelope"></span>
                <input type="password" class="form-control" placeholder="Nouveau mot de passe" [(ngModel)]="newPassword" name="new-password" required>
            </div>
            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                <input type="password" class="form-control" placeholder="Confirmer le nouveau mot de passe" [(ngModel)]="confirmNewPassword" name="confirm-new-password" required>
            </div>

            <button type="submit">
                <span>Modifier le mot de passe</span>
            </button>
            <br>

        </form>
    </div>
</div>
<app-footer></app-footer>



