<!-- roomlist.component.html -->
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div *ngFor="let room of pagedRooms" class="col-md-6 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <button class="btn material-icons" (click)="removeRoom(room._id)">&#xE5CD;</button>
                    <button class="btn material-icons" (click)="editRoom(room)">&#xE254;</button>
                    <div class="content">
                        <h6 class="category"><span> Numero du chamber: </span>{{ room.roomNumber }}</h6>
                        <h4 class="title"><a href="#"><span> Nombre des lits: </span>{{ room.capacity }}</a></h4>
                        <p class="description">Service: {{ room.block.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-paginator [length]="rooms.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)"></mat-paginator>
        </div>
    </div>
</div>
