<!--
<div class="letter">
    <form (ngSubmit)="saveWound()">
        &lt;!&ndash; ficheSuivi &ndash;&gt;
        <h3>ficheSuivi</h3>
        <div class="form-group">
            <label for="plaiesPostOperation">plaiesPostOperation:</label>
            <input type="checkbox" id="plaiesPostOperation" name="plaiesPostOperation" [(ngModel)]="wound.ficheSuivi.plaiesPostOperation">
        </div>

        &lt;!&ndash; Add more fields from ficheSuivi &ndash;&gt;

        &lt;!&ndash; evaluationInitiale &ndash;&gt;
        <h3>evaluationInitiale</h3>
        <div class="form-group">
            <label for="date">date:</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="wound.evaluationInitiale.date" required>
        </div>

        &lt;!&ndash; Add more fields from evaluationInitiale &ndash;&gt;

        &lt;!&ndash; apparancePlaie &ndash;&gt;
        <h3>apparancePlaie</h3>
        <div class="form-group">
            <label for="seche">Sèche:</label>
            <input type="checkbox" id="seche" name="seche" [(ngModel)]="wound.apparancePlaie.seche">
        </div>

        &lt;!&ndash; Add more fields from apparancePlaie &ndash;&gt;

        &lt;!&ndash; peauPourtour &ndash;&gt;
        <h3>peauPourtour</h3>
        <div class="form-group">
            <label for="intacte">Intacte:</label>
            <input type="checkbox" id="intacte" name="intacte" [(ngModel)]="wound.peauPourtour.intacte">
        </div>

        &lt;!&ndash; Add more fields from peauPourtour &ndash;&gt;

        &lt;!&ndash; ecoulement &ndash;&gt;
        <h3>ecoulement</h3>
        <div class="form-group">
            <label for="quantite">Quantité:</label>
            <input type="text" class="form-control" id="quantite" name="quantite" [(ngModel)]="wound.ecoulement.quantite" required>
        </div>

        &lt;!&ndash; Add more fields from ecoulement &ndash;&gt;

        &lt;!&ndash; materielEnPlace &ndash;&gt;
        <h3>materielEnPlace</h3>
        <div class="form-group">
            <label for="drain">Drain:</label>
            <input type="checkbox" id="drain" name="drain" [(ngModel)]="wound.materielEnPlace.drain">
        </div>

        &lt;!&ndash; Add more fields from materielEnPlace &ndash;&gt;

        &lt;!&ndash; nettoyage &ndash;&gt;
        <h3>nettoyage</h3>
        <div class="form-group">
            <label for="serumPhysiologique">Sérum Physiologique:</label>
            <input type="checkbox" id="serumPhysiologique" name="serumPhysiologique" [(ngModel)]="wound.nettoyage.serumPhysiologique">
        </div>

        &lt;!&ndash; Add more fields from nettoyage &ndash;&gt;

        &lt;!&ndash; pansement &ndash;&gt;
        <h3>pansement</h3>
        <div class="form-group">
            <label for="sparadrap">Sparadrap:</label>
            <input type="checkbox" id="sparadrap" name="sparadrap" [(ngModel)]="wound.pansement.sparadrap">
        </div>

        &lt;!&ndash; Add more fields from pansement &ndash;&gt;

        &lt;!&ndash; Error message &ndash;&gt;
&lt;!&ndash;
        <div *ngIf="!isFormValid()" class="error-message">Please fill in all required fields.</div>
&ndash;&gt;

        &lt;!&ndash; Submit button &ndash;&gt;
        <div class="modal-footer">
            <button class="btn" type="submit">Enregistrer</button>
        </div>
    </form>
</div>
-->
