<div class="letter">
    <div class="medical-administrations">
        <h2>Administrations médicales pour le patient </h2>

            <!-- Display paged medical administrations -->
            <div *ngFor="let admin of pagedMedicalAdministrations" class="administration-card">
                <button class="btn material-icons" (click)="removeMedicalAdministration(admin._id)">
                    &#xE5CD;
                </button>

                <h3>Le {{ admin.dateDuSemain | date: 'shortDate' }}</h3>
                <p><strong>Médecin :</strong> {{ admin.medicin }}</p>
                <p><strong>Prescription :</strong> {{ admin.prescription }}</p>
                <p><strong>Médicament :</strong> {{ admin.nomMedicament }}</p>
                <p><strong>Poids :</strong> {{ admin.poids }} kg</p>
                <p><strong>periode :</strong> {{ admin.time }}</p>
                <p><strong>Matin :</strong> {{ admin.matin ? '✓' : 'X' }}</p>
                <p><strong>Après-midi :</strong> {{ admin.apresMidi ? '✓' : 'X' }}</p>
                <p><strong>Soir :</strong> {{ admin.soir ? '✓' : 'X' }}</p>
                <p><strong>Nom infirmière :</strong> {{ admin.remarqueInfermier }}</p>
                <hr>
                <!-- Add more details based on your medical administration model -->
            </div>

            <!-- Pagination controls -->
            <mat-paginator
                    [length]="allMedicalAdministrations.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="onPageChange($event)"
            ></mat-paginator>



    </div>
</div>
